<div class="card mt-10 mb-3 shadow-lg">
  <img src="assets/day.png" class="card-img-top" alt="Day Image" />
  <div class="card-body mt-8">
    <div class="flex justify-center items-center mb-8 font-semibold text-3xl">
      <h5 class="card-title mr-4">Card Title</h5>
      <p>3&#176;</p>
    </div>
    <div
      class="w-full px-8 sm:w-3/4 sm:px-0 mx-auto flex justify-between items-center mb-4 text-base font-medium"
    >
      <p>Feels like -5</p>
      <p>Condition</p>
      <img src="" alt="" />
    </div>
    <div
      class="w-full px-8 sm:w-3/4 sm:px-0 mx-auto flex justify-between items-center mb-4 text-base font-medium"
    >
      <p>Wind 18.6 m/h <span class="text-sm font-normal">(WSW)</span></p>
      <p>Precipitation 2%</p>
    </div>

    <div
      class="w-full px-8 sm:w-3/4 sm:px-0 mx-auto flex justify-between items-center mb-4 text-base font-medium"
    >
      <p>Humidity 70%</p>
      <p>Cloud 100%</p>
    </div>

    <p class="card-text w-full px-8 sm:w-3/4 sm:px-0 mx-auto pb-4">
      <small class="text-muted">Last updated 3 mins ago</small>
    </p>
  </div>
</div>
{{ weatherData | json }}
